@import "typical";

div.program-section {
    padding-bottom: 70px;
    margin-top: 25px;
}

div.combo-image-section {
    padding-left: 15px;
    float: left;
    width: 170px;
    text-align: center;
}

div.combo-description-keeper {
    float: left;
    max-width: 430px;
}

div.combo-description-keeper h3 {
    color: $linkColor;
    font-size: 1.6em;
    margin: 0;
}

div.combo-description-keeper p {
    margin: 0;
    padding: 0;
}

div.combo-description-keeper p.links {
    margin: 10px 0;
}

div.combo-description-keeper p.links a {
    text-decoration: underline;
    color: black;
    font-size: 1em;
}

div.combo-description-keeper ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.combo-description-keeper ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
}

div.combo-description-keeper table {
    width: 100%;
    text-align: center;
    border: none;
    margin: 0;
    padding: 15px 0 30px 0;
}

div.combo-description-keeper table th {
    text-align: left;
    border: none;
    font-weight: normal;
}

div.combo-description-keeper table td {
    text-align: center;
}

div.combo-description-keeper table tr.alt th, div.combo-description-keeper table tr.alt td {
    background-color: white;
}

div.combo-description-keeper table tr.head th, div.combo-description-keeper table tr.head td {
    font-size: 0.7em;
}