$linkColor: #0F3C64;

@font-face {
    font-family: MyriadPro;
    src: url(MyriadPro-regular.ttf);
}

@font-face {
    font-family: MyriadPro;
    src: url(MyriadPro-bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: MyriadPro;
    src: url(MyriadPro-italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: MyriadPro;
    src: url(MyriadPro-bold-italic.ttf);
    font-style: italic;
    font-weight: bold;
}

.clearfix {
    *zoom: 1
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both
}

.debug {
    border: 1px solid red;
}

body {
    padding: 0;
    margin: 0;
    font-family: MyriadPro, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: $linkColor;
}

a, a:link, a:visited, a:hover, a:active {
    color: $linkColor;
    font-weight: bold;
    text-decoration: none;
}

a.lang-switch {
    color: white;
    background-color: $linkColor;
    padding: 2px;
    font-size: 0.9em;
}

a.hom-lang-switch {
    padding: 2px;
}

div.nospaced {
    padding: 0;
    margin: 0;
}

div.centered {
    padding: 0;
    margin: 0 auto;
}

div.content {
    margin: 0 auto 1em;
    width: 960px;
}

div.main-menu {
    ul, li {
        list-style: none;
    }
    ul {
        padding-left: 80px;
    }
}

div.footer {
    background-color: #000000;
    color: white;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 10px 0 20px 0;

    div.link-block-next {
        margin-left: 100px;
    }

    div.link-block {
        display: inline-block;

        div.link-header, div.link-details {
            display: table-cell;
        }

        div.link-header {
            padding-right: 30px;
            font-weight: bold;
            font-size: 1.2em;
            vertical-align: bottom;
        }

        div.link-details {
            font-size: 0.7em;
            text-align: left;
            a {
                color: #D17F13;
                text-decoration: underline;
            }
        }

    }

}

div.clearer {
    clear: both;
    font-size: 1px;
}