@import "common.scss";

$mainBannerHeight: 317px;
$mainMenuWidth: 385px;
$newsWidth: 550px;
$kizBombaHeight: 152px;

div.home-page-banner {
    padding: 0;
    margin: 0 auto;
    background-color: white;
    background-image: url("../images/home/banner.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: $mainBannerHeight;
    position: relative;
}

div.home-page-banner-continuation {
    position: relative;
    top: $mainBannerHeight;
}

div.home-page-lang-switcher-menu {
    position: absolute;
    top: 364px;
    left: 124px;
    a {
        margin-left: 4px;
    }
}

div.homa-page-banner-image-continuation {
    float: left;
}

div.left-column {
    float: left;
    margin-top: 75px;
    width: 385px;
    max-width: 385px;
}

div.right-column {
    float: right;
    margin: 10px 10px 30px 15px;
    width: 550px;
    max-width: 550px;
}

div.youtube-video {
    margin: 0;
}

div.main-menu {
    width: $mainMenuWidth;
    max-width: $mainMenuWidth;
    font-size: 1.7em;
    li {
        margin: 10px 0 0 0;
    }
    .sponsors {
        margin: 140px 0 50px 80px;
        font-size: 0.6em;
        font-weight: bold;
        .sponsors-logos {
            img {
                margin: 5px 10px 0 0;
            }
        }
    }
}

div.kizbomba {
    width: $mainMenuWidth;
    max-width: $mainMenuWidth;
    min-height: $kizBombaHeight;
    height: $kizBombaHeight;
    max-height: $kizBombaHeight;
}

div.last-news {
    max-width: $newsWidth;
    ul, li {
        list-style: none;
        padding-left: 0;
    }
    li {
        padding-top: 25px;
        div.news-header {
            font-size: 2em;
            color: $linkColor;
            font-weight: bold;
        }
    }
}