@import "typical";

$venue_font_size: 1em;

body {
    &.magnified-image {
        cursor: zoom-out;
        #magnified-image {
            visibility: visible;
            opacity: 1;
        }
    }
}

#magnified-image {
    visibility: hidden;
    opacity: 0;

    @include transition(all, 0.2s, ease-in-out);

    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    img {
        display: block;
        margin: 8em auto;
    }
}

div.parties-section {
    padding: 0 0 70px 15px;
    margin: 1em 1em 0 12em;

    h2 {
        font-size: 1.4em;
        margin-top: 1.5em;
    }

    h4 {
        margin-bottom: 0;
    }

    p {
        margin-top: 0;
        margin-bottom: 0.5em;
        max-width: 28em;
    }

    .party-image {
        cursor: zoom-in;
        &.big {
            position: fixed;
            top: 10%;
            left: 0;
            width: 100%;
            text-align: center;
            img {
                max-width: 100%;
            }
        }
        img {
            max-width: 410px;
        }
    }

}