@import "typical";
$venue_font_size: 1em;
div.parties-section {
    padding-bottom: 70px;
    margin-top: 10px;
    padding-left: 15px;

    h2 {
        font-size: 1.4em;
        margin-top: 1.5em;
    }

    div.parties-description {
        clear: both;

        a, a:link, a:hover, a:active, a:visited {
            text-decoration: underline;
            font-size: 1em;
        }

        p {
            font-size: $venue_font_size;
            margin: 0 0 0 15px;
        }

        div.turiba-logo-keeper {
            float: left;
            margin-left: 10px;
            margin-top: 15px;
            width: 149px;
            max-width: 149px;
        }

        div.parties-description-keeper {
            float: left;
            margin-left: 15px;
            width: 450px;
            max-width: 450px;

            ol {
                margin: 0;
            }

            .party-images-keeper {
                margin: 10px 0 10px 15px;
            }
        }
    }
}