@import "common.scss";

div.common-banner {
    position: relative;
    padding: 0;
    margin: 0 auto 10px;
    background-color: white;
    background-image: url("../images/home-top-banner.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 275px;
}

div.left-column {
    float: left;
    width: 215px;
    max-width: 215px;
    div.common-lang-switcher-menu {
        text-align: right;
        margin-right: 35px;
        a {
            margin-left: 7px;
        }
    }
    .main-menu {
        font-size: 1.4em;
    }
    li {
        margin: 3px 0 0 0;
    }
}

div.center-content {
    float: left;
    margin-left: 20px;
    margin-bottom: 0;
    max-width: 645px;
    width: 645px;
    background: url("../images/center-section-background.png") repeat-y #E0E0E0 65% 20px;
}

p.bread-crumbs {
    font-size: 0.8em;
    padding-left: 15px;
    font-weight: bold;
    color: $linkColor;
    a {
        font-weight: bold;
        color: $linkColor;
    }
}

div.center-content h2 {
    color: $linkColor;
    font-size: 2.4em;
    padding-left: 15px;
    margin-bottom: 0;
}