<div class="footer">
    <div class="link-block">
        <div class="link-header" id="footer-section-registration-caption">Registration</div>
        <div class="link-details"><span id="footer-section-registration-details">Prices changes every month!<br/>Hurry up!</span><br/>
        </div>
    </div>
    <div class="link-block link-block-next">
        <div class="link-header" id="footer-section-contacts-caption">Contacts</div>
        <div class="link-details">
            <span id="footer-section-contacts-details">
                You can contact us by <a href="mailto:info@bachatakizomba.com">mail</a>
                <br/>
                or by calling +371 29453470, +371 28662886</span>
            <br/>
            <a id="footer-section-contacts-link" href="contacts.html">Other info here</a>
        </div>
    </div>
    <div class="clearer"></div>
</div>