<div class="common-lang-switcher-menu">
    <a class="hom-lang-switch" href="javascript:void(0);">
        <img src="images/home/rus.png" lang="RUS" alt="RUS" width="25" height="25"/>
    </a>
    <a class="hom-lang-switch" href="javascript:void(0);">
        <img src="images/home/lv.png" lang="LAT" alt="LAT" width="25" height="25"/>
    </a>
    <a class="hom-lang-switch" href="javascript:void(0);">
        <img src="images/home/eng.png" lang="ENG" alt="ENG" width="25" height="25"/>
    </a>
</div>