<div class="main-menu">
    <ul>
        <li><a id="home-main-menu-link" href="index.html">Home</a></li>
        <li><a id="artists-main-menu-link" href="artists.html">Artists</a></li>
        <li><a id="program-main-menu-link" href="program.html">Program</a></li>
        <li><a id="registration-main-menu-link" href="registration.html">Registration</a></li>
        <li><a id="prices-main-menu-link" href="prices.html">Prices</a></li>
        <li><a id="parties-main-menu-link" href="parties.html">Parties</a></li>
        <li><a id="venue-main-menu-link" href="venue.html">Venue</a></li>
        <li><a id="gallery-main-menu-link" href="gallery.html">Gallery</a></li>
        <li><a id="contacts-main-menu-link" href="contacts.html">Contacts</a></li>
    </ul>
</div>