@import "common.css";

div.home-page-banner {
    padding: 0;
    margin: 0 auto;
    background-color: white;
    background-image: url("../images/home/banner.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 224px;
    position: relative;
}

div.home-page-banner-continuation {
    position: relative;
    top: 224px;
}

div.home-page-lang-switcher-menu {
    position: absolute;
    top: 369px;
    left: 123px;
}

div.home-page-lang-switcher-menu a {
    margin-left: 11px;
}

div.homa-page-banner-image-continuation {
    float: left;
}

div.youtube-video {
    float: right;
    margin: 10px 10px 0 0;
}

div.main-menu {
    float: left;
    width: 385px;
    max-width: 385px;
    font-size: 1.7em;
}

div.main-menu li {
    margin: 10px 0 0 0;
}

div.kizbomba {
    float: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 192px;
    background-color: #65B1E3;
    width: 385px;
    max-width: 385px;
    min-height: 152px;
    height: 152px;
    max-height: 152px;
}

div.kizbomba p, div.kizbomba h1 {
    text-align: center;
    width: 100%;
    margin: 14px 0 0;
}

div.kizbomba p.justified {
    text-align: justify;
    margin: 3em 1em;
    width: 90%;
    max-width: 90%;
}

div.kizbomba h1 {
    color: white;
    font-size: 2.8em;
}

div.kizbomba a {
    color: white;
    text-decoration: underline;
}

div.last-news {
    float: left;
    margin-left: 15px;
    max-width: 550px;
}

div.last-news ul, div.last-news li {
    list-style: none;
    padding-left: 0;
}

div.last-news li {
    padding-top: 30px;
}

div.last-news li div.news-header {
    font-size: 2em;
    color: #007BC9;
    font-weight: bold;
}