.debug {
  border: 1px solid red; }

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em; }

a, a:link, a:visited, a:hover, a:active {
  font-family: Verdana, Geneva, sans-serif;
  color: #007BC9;
  font-weight: bold;
  text-decoration: none; }

a.lang-switch {
  color: white;
  background-color: #007BC9;
  padding: 2px;
  font-size: 0.9em; }

a.hom-lang-switch {
  padding: 2px; }

div.nospaced {
  padding: 0;
  margin: 0; }

div.centered {
  padding: 0;
  margin: 0 auto; }

div.content {
  margin: 0 auto 2em;
  width: 960px; }

div.main-menu ul, div.main-menu li {
  list-style: none; }
div.main-menu ul {
  padding-left: 80px; }
div.main-menu a {
  font-family: Arial, Helvetica, sans-serif; }

div.footer {
  clear: both;
  background-color: #201113;
  color: white;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 10px 0 20px 0; }
  div.footer div.link-block-next {
    margin-left: 100px; }
  div.footer div.link-block {
    display: inline-block; }
    div.footer div.link-block div.link-header, div.footer div.link-block div.link-details {
      display: table-cell; }
    div.footer div.link-block div.link-header {
      padding-right: 30px;
      font-weight: bold;
      font-size: 1.2em;
      vertical-align: bottom; }
    div.footer div.link-block div.link-details {
      font-size: 0.7em;
      text-align: left; }
      div.footer div.link-block div.link-details a {
        color: #D17F13;
        text-decoration: underline; }

div.clearer {
  clear: both;
  font-size: 1px; }

div.common-banner {
  padding: 0;
  margin: 0 auto 10px;
  background-color: white;
  background-image: url("../images/home-top-banner.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 275px; }

div.common-lang-switcher-menu {
  position: relative;
  top: 245px;
  left: 875px; }

div.main-menu {
  float: left;
  width: 215px;
  max-width: 215px;
  font-size: 1.4em; }
  div.main-menu li {
    margin: 3px 0 0 0; }

div.center-content {
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  max-width: 645px;
  width: 645px;
  background-color: #CCEDFF; }

p.bread-crumbs {
  font-size: 0.8em;
  padding-left: 15px;
  font-weight: bold;
  color: #007BC9; }
  p.bread-crumbs a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #007BC9; }

div.center-content h2 {
  color: #007BC9;
  font-size: 2.4em;
  padding-left: 15px;
  margin-bottom: 0; }

div.program-section {
  padding: 0 25px 70px 25px;
  margin-top: 25px; }
