include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    include "mainmenu.html"
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Arawi &amp; Alina</p>

        <h2>Arawi Escalera &amp; Alina Bondareva</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/arawi-alina.jpg" title="Arawi Escalera &amp; Alina Bondareva" alt="Arawi Escalera &amp; Alina Bondareva" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <h3 id="arawi-alina-p-1">
                    Arawi Escalera
                </h3>

                <p id="arawi-alina-p-2">
                    Born in Canada raised in Bolivia, discovered his love of dance on early age, at age of 17 he started to give his first dance classes in Gent Belgium with immediate success, he
                    created his dance group Salsa Revelation, with a little more experience Arawi met his partner Alina and together they cover more than 10 countries with the world Bachata tour with
                    a bigger name Arawi already collaborated with artists like Belle Perez and Gabriel Rios.  Arawi is today one of the most famous Salsa &amp; Bachata dancers in the world and always
                    with its motto &quot;The first step to dance is have fun&quot; will not stop until you reach the top.
                </p>

                <h3 id="arawi-alina-p-3">
                    Alina Bondareva
                </h3>

                <p id="arawi-alina-p-4">
                    Born Kazakhstan raised in Kirghizstan discovers her love for dance at early age, by forming her own dance group of Latin ballroom she supports the young community in Antwerp.  By
                    pure coincidence she takes her first salsa class and since that day she has not stopped, Arawi her partner discovers her talent immediately and with a lot of practice they form one
                    of the most beloved Bachata couples worldwide. Apart from Dance Alina create the costumes, music mixes and all the graphic design for the group she is a multitalented girl and very
                    proud to be part of Salsa Revelation
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"