include "doctype.html"
<head>
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artists.css"/>
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    include "mainmenu.html"
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <span id="artists-breadcrumb">Artists</span></p>

        <h2 id="artists-section-header">Artists</h2>

        <div class="artists-section">
            <table border="0" cellspacing="0" cellpadding="5">
                <tr>
                    <td>
                        <a href="morenasso-anais.html"><img src="images/artists/morenasso-anais.jpg" title="Morenasso &amp; Anais" alt="Morenasso &amp; Anais" width="145" height="145"/></a>

                        <p><a href="morenasso-anais.html" id="artist-morenasso-anais">Morenasso &amp; Anais<br/>(France)</a></p>
                    </td>
                    <td>
                        <a href="paulo-lanna.html"><img src="images/artists/paulo-lanna.jpg" title="Paulo &amp; Lanna" alt="Paulo &amp; Lanna" width="145" height="145"/></a>

                        <p><a href="paulo-lanna.html" id="artist-paulo-lanna">Paulo &amp; Lanna<br/>(Angola)</a></p>
                    </td>
                    <td>
                        <a href="arawi-alina.html"><img src="images/artists/arawi-alina.jpg" title="Arawi &amp; Alina" alt="Arawi &amp; Alina" width="145" height="145"/></a>

                        <p><a href="arawi-alina" id="artist-arawi-alina">Arawi &amp; Alina<br/>(Belgium)</a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="yasser-solia.html"><img src="images/artists/yasser-solia.jpg" title="Yasser &amp; Solia" alt="Yasser &amp; Solia" width="145" height="145"/></a>
                        <p><a href="yasser-solia.html" id="artist-yasser-solia">Yasser &amp; Solia<br/>(Cuba/Finland)</a></p>
                    </td>
                    <td>
                        <a href="nemanja-laura.html"><img src="images/artists/nemanja-laura.jpg" title="Nemanja &amp; Laura" alt="Nemanja &amp; Laura" width="145" height="145"/></a>
                        <p><a href="nemanja-laura.html" id="artist-nemanja-laura">Nemanja &amp; Laura<br/>(Serbia/Finland)</a></p>
                    </td>
                    <td>
                        <a href="tomas-keita.html"><img src="images/artists/tomas-keita.jpg" title="Tomas Keita" alt="Tomas Keita" width="145" height="145"/></a>
                        <p><a href="tomas-keita.html" id="artist-tomas-keita">Tomas Keita<br/>(Spain)</a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="ivan-salazar.html"><img src="images/artists/ivan-salazar.jpg" title="Ivan Salazar" alt="Ivan Salazar" width="145" height="145"/></a>
                        <p><a href="ivan-salazar.html" id="artist-ivan-salazar">Ivan Salazar<br/>(Cuba)</a></p>
                    </td>
                    <td>
                        <a href="slawek-milena.html"><img src="images/artists/slawek-milena.jpg" title="Slawek &amp; Milena" alt="Slawek &amp; Milena" width="145" height="145"/></a>
                        <p><a href="slawek-milena.html" id="artist-slawek-milena">Slawek &amp; Milena<br/>(Poland)</a></p>
                    </td>
                    <td>
                        <a href="francis.html"><img src="images/artists/francis.jpg" title="Francis Andriana" alt="Francis Andriana" width="145" height="145"/></a>
                        <p><a href="francis.html" id="artist-francis">Francis Andriana<br/>(France)</a></p>
                    </td>
                </tr>


                <tr>
                    <td>
                        <a href="vishal_raja.html"><img src="images/artists/vishal_raja.jpg" title="Vishal Raja" alt="Vishal Raja" width="145" height="145"/></a>
                        <p><a href="vishal_raja.html" id="artist-vishal_raja">Vishal Raja<br/>(India)</a></p>
                    </td>

                    <td>
                        <a href="babacar.html"><img src="images/artists/babacar.jpg" title="DJ Babacar" alt="DJ Babacar" width="145" height="145"/></a>
                        <p><a href="babacar.html" id="artist-babacar">DJ Babacar<br/>(Portugal)</a></p>
                    </td>
                    <td>
                        <a href="mega-sheep.html"><img src="images/artists/mega-sheep.jpg" title="DJ Mega&apos;N&apos;Sheep" alt="DJ Mega&apos;N&apos;Sheep" width="145" height="145"/></a>
                        <p><a href="mega-sheep.html" id="artist-mega-sheep">DJ Mega&apos;N&apos;Sheep<br/>(Belarus)</a></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <a href="joker.html"><img src="images/artists/joker.jpg" title="DJ The Joker is Wild" alt="DJ The Joker is Wild" width="145" height="145"/></a>
                        <p><a href="joker.html" id="artist-joker">DJ The Joker is Wild<br/>(Latvia)</a></p>
                    </td>
                    <td>
                        <a href="raimo.html"><img src="images/artists/raimo.jpg" title="DJ Raimo" alt="DJ Raimo" width="145" height="145"/></a>
                        <p><a href="raimo.html" id="artist-raimo">DJ Raimo<br/>(Latvia)</a></p>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"