include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artists.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <span id="artists-breadcrumb">Artists</span></p>

        <h2 id="artists-section-header">Artists</h2>

        <div class="artists-section">
            <table border="0" cellspacing="0" cellpadding="5">
                <tr>
                    <td>
                        <a href="manuel-flavie.html"><img src="images/artists/manuel-flavie.jpg" title="Manuel &amp; Flavie" alt="Manuel &amp; Flavie" width="145" height="145"/></a>
                        <p><a href="manuel-flavie.html" id="artist-manuel-flavie">Manuel &amp; Flavie<br/>(Canada)</a></p>
                    </td>
                    <td>
                        <a href="ronie.html"><img src="images/artists/ronie.jpg" title="Ronie Saleh" alt="Ronie Saleh" width="145" height="145"/></a>
                        <p><a href="ronie.html" id="artist-ronie">Ronie Saleh<br/>(Sweden)</a></p>
                    </td>
                    <td>
                        <a href="paulo-lanna.html"><img src="images/artists/paulo-lanna.jpg" title="Paulo &amp; Lanna" alt="Paulo &amp; Lanna" width="145" height="145"/></a>
                        <p><a href="paulo-lanna.html" id="artist-paulo-lanna">Paulo &amp; Lanna<br/>(Portugal)</a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="nemanja-laura.html"><img src="images/artists/nemanja-laura.jpg" title="Nemanja &amp; Laura" alt="Nemanja &amp; Laura" width="145" height="145"/></a>
                        <p><a href="nemanja-laura.html" id="artist-nemanja-laura">Nemanja &amp; Laura<br/>(Serbia/Finland)</a></p>
                    </td>
                    <td>
                        <a href="rohan.html"><img src="images/artists/rohan.jpg" title="Rohan Brown" alt="Rohan Brown" width="145" height="145"/></a>
                        <p><a href="rohan.html" id="artist-rohan">Rohan Brown<br/>(UK)</a></p>
                    </td>
                    <td>
                        <a href="vishal_raja.html"><img src="images/artists/vishal_raja.jpg" title="Vishal Raja" alt="Vishal Raja" width="145" height="145"/></a>
                        <p><a href="vishal_raja.html" id="artist-vishal_raja">Vishal Raja<br/>(India)</a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="george.html"><img src="images/artists/george.jpg" title="George Daniels" alt="George Daniels" width="145" height="145"/></a>
                        <p><a href="george.html" id="artist-george">George Daniels<br/>(Norway)</a></p>
                    </td>
                    <td>
                        <a href="yasser.html"><img src="images/artists/yasser.jpg" title="Yasser Sarria Terry" alt="Yasser Sarria Terry" width="145" height="145"/></a>
                        <p><a href="yasser.html" id="artist-yasser">Yasser Sarria Terry<br/>(Cuba)</a></p>
                    </td>
                    <td>
                        <a href="maria_dosur.html"><img src="images/artists/maria_dosur.jpg" title="Maria &amp; Dosur" alt="Maria &amp; Dosur" width="145" height="145"/></a>
                        <p><a href="maria_dosur.html" id="artist-maria_dosur">Maria &amp; Dosur<br/>(RUS/KAZ)</a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="dj-babacar.html"><img src="images/artists/dj-babacar.jpg" title="DJ Babacar" alt="DJ Babacar" width="145" height="145"/></a>
                        <p><a href="dj-babacar.html" id="artist-dj-babacar">DJ Babacar<br/>(Portugal)</a></p>
                    </td>
                    <td>
                        <a href="dj-havana.html"><img src="images/artists/dj-havana.jpg" title="DJ Havana" alt="DJ Havana" width="145" height="145"/></a>
                        <p><a href="dj-havana.html" id="artist-dj-havana">DJ Havana<br/>(Cuba)</a></p>
                    </td>
                    <td>
                        <a href="dj-lehny.html"><img src="images/artists/dj-lehny.jpg" title="DJ Lehny" alt="DJ Lehny" width="145" height="145"/></a>
                        <p><a href="dj-lehny.html" id="artist-dj-lehny">DJ Lehny<br/>(France)</a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="saul.html"><img src="images/artists/saul.jpg" title="DJ Saul" alt="DJ Saul" width="145" height="145"/></a>
                        <p><a href="saul.html" id="artist-saul">DJ Saul<br/>(Germany)</a></p>
                    </td>
                    <td>
                        <a href="joker.html"><img src="images/artists/joker.jpg" title="DJ The Joker is Wild" alt="DJ The Joker is Wild" width="145" height="145"/></a>
                        <p><a href="joker.html" id="artist-joker">DJ The Joker is Wild<br/>(Latvia)</a></p>
                    </td>
                    <td>
                        <a href="raimo.html"><img src="images/artists/raimo.jpg" title="DJ Raimo" alt="DJ Raimo" width="145" height="145"/></a>
                        <p><a href="raimo.html" id="artist-raimo">DJ Raimo<br/>(Latvia)</a></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"