include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Azael &amp; Irina</p>

        <h2>Azael &amp; Irina</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/azael-irina.jpg" title="Azael &amp; Irina" alt="Azael &amp; Irina" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="azael-irina-p-1">
                    Azael is an energetic and charismatic dancer, who can combine in a dance
                    speed and high energy with romance and sensuality. Thanks to his unique
                    style he has become very popular around Europe in the last year, especially
                    as a Bachata and Kizomba instructor. He begun his career in Monterrey
                    Mexico where he won the Mamboss Salsa Open competition twice
                    and trained under Salzumba, one of the most important dance companies
                    in Mexico, former school of other great artists like Adolfo Indacochea. In
                    2012 he decided to continue with his project in Europe and he moved to
                    Dublin Ireland where he was named the Irish Bachata Champion, he
                    created his own company AfroLatin Fever.
                </p>

                <p id="azael-irina-p-2" class="top-padded">
                    Irina dances for many years now and she is an instructor at SalsaLovers
                    Latvia school. Gracious and elegant she can adopt to any music, any
                    mood, any partner. A person who can be called &quot;energy drink&quot; or &quot;perpetual
                    engine&quot; as in life as on the dance floor. Irina was a member of
                    SalsaLovers showgroup, which is representing Latvia in International
                    Salsa Scene in Germany, Poland, Estonia, Lithuania etc. The main thing
                    they are trying to make in workshops is to teach people to dance in harmony
                    with music and with partner. They still believe that the dance needs
                    to be comfort for both in couple. The most important value is theirs
                    capacity to create via students groups a friendly community and a positive
                    environment, encouraging them to perform and express themselves
                    through Afro Latin Dance.
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"