include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/contacts.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <span id="contacts-breadcrumb">Contacts</span></p>

        <h2 id="contacts-section-header">Contacts</h2>

        <div class="contacts-section">
            <div class="contacts-banner-keeper">
                <img src="images/contacts-banner.png" alt="Contacts" title="Contacts" width="612" height="178"/>
            </div>
            <div class="contacts-information-keeper">
                <div class="concrete-contact">
                    <h3 id="contacts-festival-facebook">Festival event on Facebook</h3>
                    <a id="contacts-festival-facebook-link" href="https://www.facebook.com/events/751905851533118" target="_blank">Click here for more details</a>
                </div>
                <div class="concrete-contact">
                    <h3 id="contacts-festival-email">Email</h3>
                    <a id="contacts-festival-email-link" href="mailto:info@bachatakizomba.com" target="_blank">Click here to send an Email</a>
                </div>
                <div class="concrete-contact">
                    <img src="images/irina.png" alt="Irina Jakobovica" title="Irina Jakobovica" width="96" height="109"/>

                    <div class="contact-person-details">
                        <h3 id="contacts-irina-name">Irina Jakobovica</h3>

                        <p id="contacts-irina-phone">Tel. +371 28662886</p>
                        <a href="https://www.facebook.com/IrinaJakobovica" target="_blank">www.facebook.com</a>
                    </div>
                    <div class="clearer">&nbsp;</div>
                </div>
                <div class="concrete-contact">
                    <img src="images/nataly.png" alt="Nataly Hristolubova" title="Nataly Hristolubova" width="96" height="109"/>

                    <div class="contact-person-details">
                        <h3 id="contacts-nataly-name">Nataly Hristolubova</h3>

                        <p id="contacts-nataly-phone">Tel. +371 29453470</p>
                        <a href="http://www.facebook.com/nataly.hristolubova" target="_blank">www.facebook.com</a>
                    </div>
                    <div class="clearer">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"