include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Dantes &amp; Yasmeen</p>

        <h2>Dantes &amp; Yasmeen</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/dantes-yasmeen.jpg" title="Dantes &amp; Yasmeen" alt="Dantes &amp; Yasmeen" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="dantes-yasmeen-p-1">
                     From a young age Edmond Dantès began to take interest in the couples dancing as Zouk and Zouk love (a lot more sensual form) with Kasav and Francky Vincent emblematic figure of this era. After a few time Edmond Dantès become one of the best dancer in its country of origin where this music is still the most popular one. Then Dantès discover many other African dances like African rumba, the soukous,the makossa, the coupé décalé etc&hellip; After all this profound training, his attachment to the sensual dance was always the strongest. Upon his move from Paris to the Netherlands more than ten years ago, Dantès dedicated himself definitely to kizomba and semba where he teached for the first time in 2007, During two years past of sensational experience when he stopped dancing for family reason.
                    In 2011 Dantès began the adventure again and took crash course to get his level back . Dantès become quickly a noted dancer in every kizomba party. Dantès has attended a large number of international kizomba festivals as taxi dancer where he acquired a thorough knowledge then he created his own dance group KIZMEET TEAM. Edmond Dantès is today one of the most respected in the kizomba world. His style is based on the concentration, the connection, the styling, the musicality, the timing, the technique, the feeling and the emotion&hellip; Having taught here and there with different partners, he decided to partner with Yasmeen, that is it must be stressed the best dancer of German kiz. With the encouragement and support from many artist and friends and as a beloved and passionate life time commitment, Dantès &amp; Yasmeen gave themselves promise to be among the best world kizomba artist.
                </p>
                <p id="dantes-yasmeen-p-2">
                    Yasmeen started dancing when she was only 3. After a profound training in Ballet, Modern Jazz, Hip Hop, Belly Dance, Rock n&apos;Roll, Pole Dance and Background Dancing she dedicated herself to Salsa, Bachata and Kizomba. She has been performing on stage as Shown Artist as well as background dancer numerous times. Yasmeen has attended a large number of international Kizomba festivals to learn from the best teachers, so that she can pass on a profound knowledge to her students. During her classes you can see that for her dancing is not only hobby, but a beloved and passionate lifetime commitment. She has dedicated herself to Kizomba and Urban Kiz the past 3 years. She did give Kizomba workshops together with well-known artists like Lucio Lopez, Mike Evens and Patrick Snackes. Yasmeen Diamond is famous for her unique Ladies Style classes, teaching sensual, sexy body moves combined with cool Urban Kiz.
                </p>
                <br/>

            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"