include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / DJ El Farao</p>

        <h2>DJ El Farao (Norway)</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/dj-el-farao.jpg" title="DJ El Farao" alt="DJ El Farao" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="dj-el-farao-p-1">
                    A popular DJ &amp; dance instructor from Norway. He is a versatile dancer who dances several styles and
                    who has been actively traveling for years to sharing his passion for dance El farao has developed
                    simple and efficient methods to teach practical social dancing without complications. His has a
                    massive collection of music hits new and old. He knows what Music dancers like to dance to because
                    he is also a dancer himself. His classes are fun and rich with ideas.
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"