include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    include "mainmenu.html"
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / DJ El Farao</p>

        <h2>DJ El Farao</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/dj-el-farao.jpg" title="DJ El Farao" alt="DJ El Farao" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="dj-el-farao-p-1">
                    Mostafa El Farao is a popular dancer and Dj in Norway and abroad. He played in several international
                    dance events like Berlin Bachata Congress and other big events. He plays his music regularly in Oslo
                    and in other occasions around in Norway. His passion is Bachata, Salsa and of course Kizomba too.
                    Mostafa is a great dancer too and teaches mostly in Oslo. He has participated in more than 100
                    International dance events in several dance styles; Argentinian Tango, Salsa all styles, Bachata,
                    Zouk and Kizomba. He has seen and learned from the best. Being a dancer he knows what dancers need.
                    Expect a powerful passionate dynamic music collection and a very friendly down to earth humanbeing.
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"