include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / DJ Havana</p>

        <h2>DJ Havana</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/dj-havana.jpg" title="DJ Havana" alt="DJ Havana" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="dj-havana-p-1">
                    Joan Cervantes Gutierrez (Havana, Cuba) graduated from the University of Havana. Since arriving in Latvia, Joan has been teaching his mother tongue Spanish to locals.
                </p>
                <p id="dj-havana-p-2">
                    Joan has had a passion for salsa since the age of 7. He inherited it from his family, and he is delighted to pass his love of dance on to anyone who would like to learn. Joan introduce Academia DeCubaSon and teach Cuban salsa (casino), son, kizomba, Afro-Cuban and other latin dances. Joan also one of the favorite DJ in Latvia for now.
                </p>
                <br/>

            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"