include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / DJ Lehny</p>

        <h2>DJ Lehny</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/dj-lehny.jpg" title="DJ Lehny" alt="DJ Lehny" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="dj-lehny-p-1">
                    Dj Lenhy start to mix it 9 years ago but it was not the KIZOMBA. He was in the AFRO ZOUK style. His
                    father was a DJ of Caribbean nights and it happened that he mix also in those events. The Kizomba
                    whys? His mother is originally from Cape Verde, so he have always loved this music since childhood.
                    Lehny is in Kizomba other for almost 5 years and he have started to mix in Marseille and specialized
                    in this field and have participated in the events more and more with some dj who was already
                    recognized for their talent.
                </p>
                <p id="dj-lehny-p-2">
                    For 2 years Lehny mix throughout France and he have started to travel in Europe there soon one year
                    with dates in Holland, Italy, Spain, Finland, Swiss ..... 2016 is the year where he mix in several
                    festivals and in various countries like CANADA, Guadeloupe, Martinique, Poland, but also in France.
                    He is not a teacher but he like to share some dance because Dj Lehny have need to feel what you feel
                    when you dance.
                </p>
                <br/>

            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"