include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/gallery.css"/>
    <link rel="stylesheet" href="yoxview/yoxview.css"/>
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <script type="text/javascript" src="scripts/gallery.js"></script>
    <script type="text/javascript" src="yoxview/yox.js"></script>
    <script type="text/javascript" src="yoxview/jquery.yoxview.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    include "mainmenu.html"
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <span id="gallery-passes-breadcrumb">Gallery</span></p>

        <h2 id="gallery-section-header">Gallery 2012</h2>

        <div class="parties-section">
            <div class="gallery-categories-keeper">
                <div>
                    <img src="images/workshops-galley.jpg" alt="" title="" width="150" height="150"/>

                    <h3 id="workshops-gallery-header">Workshops</h3>
                </div>
                <div>
                    <img src="images/parties-gallery.jpg" alt="" title="" width="150" height="150"/>

                    <h3 id="parties-gallery-header">Parties</h3>
                </div>
                <div>
                    <img src="images/shows-gallery.jpg" alt="" title="" width="150" height="150"/>

                    <h3 id="shows-gallery-header">Shows</h3>
                </div>
                <div class="clearer">&nbsp;</div>
            </div>
            <div class="clearer">&nbsp;</div>
            <div class="images-paginator">

            </div>
            <div class="clearer">&nbsp;</div>
            <div>
                <div class="gallery-images-keeper yoxview">
                    <div class="clearer">&nbsp;</div>
                </div>
            </div>
            <div class="clearer">&nbsp;</div>
            <div class="images-paginator">

            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"