include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / George Daniels</p>

        <h2>George Daniels</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/george.jpg" title="George Daniels" alt="George Daniels" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="george-p-1">
                    George Daniels who is known by his passionate, energetic and playful
                    dance style comes from Cape Town, South Africa and has been dancing
                    since the age of 15. He started teaching dancing bachata, LA salsa and
                    merengue ten years ago and now living in Norway he is spreading his
                    passion to dance not only to Norwegian people but also internationally
                    due to his trips to different dance festivals and congresses worldwide.
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"