include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/homepage.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    <div class="home-page-banner">
        <div class="home-page-banner-continuation">
            <img src="images/home/continuation.png"/>
        </div>
        <div class="home-page-lang-switcher-menu">
            <a class="hom-lang-switch" href="javascript:void(0);">
                <img src="images/home/rus.png" lang="RUS" alt="RUS" width="37" height="37"/>
            </a>
            <a class="hom-lang-switch" href="javascript:void(0);">
                <img src="images/home/lv.png" lang="LAT" alt="LAT" width="37" height="37"/>
            </a>
            <a class="hom-lang-switch" href="javascript:void(0);">
                <img src="images/home/eng.png" lang="ENG" alt="ENG" width="37" height="37"/>
            </a>
        </div>
    </div>
    <div class="kizbomba nospaced">
        <img title="KizBomba" alt="KizBomba" src="images/home/kizbomba.png" width="385" height="152"/>
    </div>
    <div class="youtube-video nospaced">
        <iframe width="550" height="334" src="http://www.youtube.com/embed/6JkcLCVwRFQ?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="clearer">&nbsp;</div>
    include "mainmenu.html"
    <div class="last-news">
        <ul>
            <li>
                <div class="news-header" id="index-news-1-header">Concert G-Amado!</div>
                <div class="news-details" id="index-news-1-text">Don&apos;t miss Saturday&apos;s Party with performance
                    of famous singer from Portugal.
                </div>
            </li>
            <li>
                <div class="news-header" id="index-news-2-header">Wave will be held in &quot;Turība&quot;</div>
                <div class="news-details" id="index-news-2-text">All workshop and parties will be held in &quot;Turība&quot;
                    halls.
                </div>
            </li>
            <li>
                <div class="news-header" id="index-news-3-header">With all the richness of choice, the choice is one –
                    Riga!
                </div>
                <div class="news-details" id="index-news-3-text">Those who were with us, have no doubt where to spend an
                    unforgettable weekend. We are proud of your choice!
                </div>
            </li>
        </ul>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"