include "doctype.html"
<head>
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    include "mainmenu.html"
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Ivan Salazar</p>

        <h2>Ivan Salazar</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/ivan-salazar.jpg" title="Ivan Salazar" alt="Ivan Salazar" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="ivan-salazar-p-1">
                    Choreographer from Cuba, who brought new breezes in Latino dance development in Latvia, because now all skills can be acquired right from the original, just like at Salsa
                    festivals. Instructor perfectly knows Afro and latino dance history and its influence to Latino dance development. Has acquired a professional dancers, choreographers and musicians
                    qualification at Santiago de Cuba, Cuba. Works as a professional dancer and choreographer since year 2008. Additional education – on year 2010 has attended courses for producents
                    and arts management.
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"