include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Kaem &amp; Marine</p>

        <h2>Kaem &amp; Marine</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/kaem-marine.jpg" title="Kaem &amp; Marine" alt="Kaem &amp; Marine" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="kaem-marine-p-1">
                    Kaem &amp; Marine are the founders of the Fuz&apos;Style Kizomba, a very human
                    and artistic approach of kizomba that strives to create an intense fusion
                    between the two partners during the dance. To reach such a depth in
                    kizomba, they invented new technics of styling, body and emotional connection.
                    The outcome is a stunning kizomba experience with a huge creativity
                    in moves.
                </p>

                <p id="kaem-marine-p-2">
                    Their modern tango, hip hop, ballet, contemporary dance and buddhist
                    zen influences, makes their style unique and their workshops very technical
                    and highly emotional.
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"