include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Manuel &amp; Flavie</p>

        <h2>Manuel &amp; Flavie</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/manuel-flavie.jpg" title="Manuel &amp; Flavie" alt="Manuel &amp; Flavie" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="manuel-flavie-p-1">
                    Manuel and Flavie teach classes together and practice their dancing every day at Kizomba Canada. Within the last year, they have performed together in ontreal, Gatineau, Quebec City, Toronto, Ottawa, London, Edmonton, Burlington, Boston, Baltimore, ilan, and are scheduled to perform in Los Angeles, Philadelphia, Washington D.C., and all over Europe. At the 2014 AfricAdancar 7th Edition of the Kizomba International Championship, anuel and Flavie won first place in the improvisation category, and fourth place overall. They are excited to spread the cultures of Angola, Haiti, and Canada along with their love and passion for Kizomba all over the world in their future travels.
                </p>
                <br/>

            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"