include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Maria &amp; Dosur</p>

        <h2>Maria &amp; Dosur</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/maria_dosur.jpg" title="Maria &amp; Dosur" alt="Maria &amp; Dosur" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="maria_dosur-p-1">
                    Maria Pavlenko started her social dancing journey in 2005 with salsa. While visiting salsa festival
                    in Sofia (Bulgary) in May 2006 understood that her soul and heart are in love with african dancing,
                    that&aposs why Maria did her best to study afro-cuban culture and put african flavor into salsa!
                </p>

                <p id="maria_dosur-p-2">
                    In 2008 she moved to Caribbean and had been teaching there for almost 3 years in one of the biggest
                    caribbean studios. Performing, organizing, attending TV shows etc - was her Curacao life! In January
                    2010 she got into kizomba course (that was presented for the first time on the island) and since
                    then fell in love with this flavor from Africa! Couple of years later when Maria moved back to
                    Russia, kizomba totally conquered her and she started traveling in order to get more and more from
                    international kizomba gurus! In 2014 she presented her first kizomba show (ladies only) at KizzAfro
                    festival and since then every year Maria choreographing for this kizomba festival bringing her afro
                    spice into the shows!
                </p>

                <p id="maria_dosur-p-3">
                    At the moment Maria has her own dance studio in Almaty (Kazakhstan) where she is teaching salsa,
                    bachata, kizomba and afro.
                </p>

                <p id="maria_dosur-p-4">
                    Dossur Bashayev and Maria Pavlenko are the owners of ALMA dance house in Almaty (Kazakhstan). They
                    have been coupled for 1,5 year and during this period choreographed 2 kizomba shows together and
                    also organized RAMKIDAYZ - first kizomba event in Almaty. Maria has a background of dancehall, salsa
                    and afro, Dossur has hiphop, popping and krump history which helps them to bring their own style
                    into kizomba scene! Urbankiz with all its diversity is their passion!!!
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"