include "doctype.html"
<head>
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    include "mainmenu.html"
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / DJ Mega&apos;N&apos;Sheep</p>

        <h2>DJ Mega&apos;N&apos;Sheep</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/mega-sheep.jpg" title="DJ Mega&apos;N&apos;Sheep" alt="DJ Mega&apos;N&apos;Sheep" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="mega-sheep-p-1">
                    Lena Magalinskaya aka DJ Mega&apos;n&apos;Sheep is one of the major bachata/kizomba event organizer and DJ at regular Afro-Latin parties in Minsk. In February 2011 Lena organized the 1st
                    Belarusian bachata festival in order to promote bachata and introduce kizomba in Belarus, and from that time on she actively supports the development of bachata/kizomba movement by
                    inviting European instructors for conducting seminars, organizing and DJing at Afro-Latin parties. Listening to bachata and kizomba gradually became an addiction which has led to
                    complete change in her life. Since 2012 her reputation as a DJ has been rapidly increasing internationally. She has worked at congresses in Minsk, Vilnius, Riga, Moscow,
                    St.Petersburg, Warsaw, Almaty, Cairo, Oslo, etc. DJ Mega&apos;n&apos;Sheep mostly plays urban bachata, kizomba/semba/zouk &amp; salsa and her varied sets will keep you dancing all night long.
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"