include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / DJ Mister Francois</p>

        <h2>DJ Mister Francois (UK)</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/mister-francois.jpg" title="DJ Mister Francois" alt="DJ Mister Francois" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="mister-francois-p-1">
                    I was introduced to Kizomba around 4 years ago and was immediately captivated by the sound and
                    rhythm of the music and the moves. This developed into a real passion and thirst to learn the dance
                    in order to interpret the music using my feet, mind, body and soul. With my several years of
                    experience DJ-ing in Soul, Reggae and RnB clubs across the UK, this eventually led to me transition
                    as a DJ in the kizomba scene. To day I have played at the following locations: Kizz Afro - Moscow
                    BKC - Budapest 1st Kizomba festival - Bucharest River Boat Kizomba festival - Bratislava KizMi -
                    Milan Na Passada Monthly Party - Holland As well as regular nights at different venues in London.
                </p>

                <p id="mister-francois-p-2">
                    My mission is simple: to keep the crowd hypnotized by the music, moving to the beat and always leave
                    them wanting more.
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"