include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Nemanja &amp; Laura</p>

        <h2>Nemanja &amp; Laura</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/nemanja-laura.jpg" title="Nemanja &amp; Laura" alt="Nemanja &amp; Laura" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="nemanja-laura-p-1">
                    <strong>Nemanja Sonero</strong> -  is known as one of the most versatile and famous dancers from South East Europe.
                </p>

                <p id="nemanja-laura-p-2">
                    Since the young age, he studied classical as well as contemporary ballet, capoeira, afro, afro-brasilian, afro-cuban folk dance, hip hop, tango, etc&hellip;
                </p>

                <p id="nemanja-laura-p-3">
                    The first time he saw Semba dance and music was 2004 with his friends from the Angolan embasy, and then 2006 his first contact with Kizomba. After that with many different teachers from Angola, Cape Verde, Portugal, which influenced and motivated him a lot to developed his own unique smooth and precise style which got him known all over Europe and the world.
                </p>

                <p id="nemanja-laura-p-4">
                    More then 10 years Sonero has  performing and promoting Afro & Latin dances and music in his country Serbia and all over the world by teaching and DJ-ing at numerous Festivals.
                </p>

                <p id="nemanja-laura-p-5">
                    His next tour include United States, Canada, Asia, and Australia, which he travel to with his lovely dance partner Laura.
                </p>

                <p id="nemanja-laura-p-6" class="top-padded">
                    <strong>Laura Zaray</strong> is professional dancer for several years. She has studied various dance styles with the leading teachers in the field, and performing all over the world. Laura is focusing on body isolation and movement, elegant style and grace as a true lady in Kizomba. She is a passionate dancer with lots of creativity and experience, and with Nemanja Sonero together they travel the world sharing their art.
                </p>

                <p id="nemanja-laura-p-7">
                    &quot;Kizomba&hellip; it's not just a dance, it is a culture! Learning the language, the history, the music, for me it is a way of life&quot;
                </p>
                <br/>

            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"