include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/parties.css?v=1"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <script type="text/javascript" src="scripts/parties.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <span
                    id="parties-breadcrumb">Parties</span></p>

        <h2 id="parties-header">Parties</h2>

        <div class="parties-section">
            <h3 id="parties-coming-soon">Dress code</h3>

            <p id="parties-coming-soon-info">
                We&apos;ll be glad if you join parties in mood we will. Every night brings something new, exciting and
                unforgettable.
            </p>
            <h4>
                Friday, 8 May
            </h4>

            <p>
                DC: &quot;White Night&quot; (white, silver)
            </p>

            <div class="party-image">
                <img src="images/parties/small/white.png" data-big-image="images/parties/white.jpg"/>
            </div>
            <h4>
                Saturday, 9 May
            </h4>

            <p>
                DC: &quot;Black Night&quot; (black, gold, diamonds)
            </p>

            <div class="party-image">
                <img src="images/parties/small/gold.png" data-big-image="images/parties/gold.jpg"/>
            </div>
            <h4>
                Sunday, 10 May
            </h4>

            <p>
                DC: &quot;On The Wave&quot; (free theme, feel free to show us your wave mood)
            </p>

            <div class="party-image">
                <img src="images/parties/small/wave.png" data-big-image="images/parties/wave.jpg"/>
            </div>
        </div>
    </div>
    include "footer.html"
</div>
<div id="magnified-image">
    <img src=""/>
</div>
</body>
include "doctypeclose.html"