include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/parties.css?v=1"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    include "mainmenu.html"
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <span id="parties-breadcrumb">Parties</span></p>

        <h2 id="parties-header">Parties</h2>

        <div class="parties-section">
            <div class="parties-description">
                <div class="turiba-logo-keeper">
                    <img src="images/turiba-logo.png" alt="" title="" width="149" height="79"/>
                </div>
                <div class="parties-description-keeper">
                    <h2 id="venue-main-venue">Main Venue</h2>
                    <p id="venue-main-venue-address">
                        All events are placed at <strong>University &quot;Turiba&quot;</strong>, 68 Graudu Str., Riga <a href="http://www.turiba.lv/en/" target="_blank">http://www.turiba.lv/en/</a>
                    </p>

                    <h2 id="parties-friday-party-header">Friday 2 May</h2>
                    <p id="parties-friday-party-topic">
                        Warm up party <strong>&quot;Friday in flowers&quot;</strong><br/>
                        Show program 00:00.
                    </p>
                    <div class="party-images-keeper">
                        <img src="images/parties/friday.png" width="420">
                    </div>
                    <p id="parties-dance-floors-qty-three">Three dance floors:</p>
                    <ol>
                        <li id="parties-dance-floors-first">Sensual room (kizomba, semba, kuduro, afro);</li>
                        <li id="parties-dance-floors-second">Bachata room;</li>
                        <li id="parties-dance-floors-third">Salsa room.</li>
                    </ol>

                    <h2 id="parties-saturday-party-header">Saturday 3 May</h2>
                    <p id="parties-saturday-party-topic">
                        Gala party <strong>&quot;Glamorous Saturday&quot;</strong><br/>
                        Show program and G-Amado concert after midnight.
                    </p>
                    <div class="party-images-keeper">
                        <img src="images/parties/saturday.png" width="420">
                    </div>
                    <p id="parties-dance-floors-qty-three">Three dance floors:</p>
                    <ol>
                        <li id="parties-dance-floors-first">Sensual room (kizomba, semba, kuduro, afro);</li>
                        <li id="parties-dance-floors-second">Bachata room;</li>
                        <li id="parties-dance-floors-third">Salsa room.</li>
                    </ol>

                    <h2 id="parties-sunday-party-header">Sunday 4 May</h2>
                    <p id="parties-sunday-party-topic">
                        Final party <strong>&quot;On the wave&quot;</strong>
                    </p>
                    <div class="party-images-keeper">
                        <img src="images/parties/sunday.png" width="420">
                    </div>
                    <p id="parties-dance-floors-qty-two">Two dance floors:</p>
                    <ol>
                        <li id="parties-dance-floors-first">Sensual room (kizomba, semba, kuduro, afro);</li>
                        <li id="parties-dance-floors-second-third">Bachata / Salsa room;</li>
                    </ol>
                </div>
                <div class="clearer">&nbsp;</div>
            </div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"