include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Paulo &amp; Lanna</p>

        <h2>Paulo Cruz &amp; Lanna Zamora</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/paulo-lanna.jpg" title="Paulo Cruz &amp; Lanna Zamora" alt="Paulo Cruz &amp; Lanna Zamora" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="paulo-lanna-p-1">
                    Paulo was born in Angola, arrived to Portugal when he was 12.
                    Now he is finishing his studies as a computer technician.
                    Like most Angolans the music and the rhythm are in his blood.
                    Dancing kizomba since the age of 15 when he started to go African parties in Lisbon.
                </p>

                <p id="paulo-lanna-p-2">
                    Lanna was also born in Angola, and started to dance traditional African dances in Angola when she
                    was 8 years old.
                    Then arrived to Portugal in the age of 11 to study.
                </p>

                <p id="paulo-lanna-p-3">
                    Both of them became members in Ballet Tradicional KILANDUKILU (existing more than 20 years) led by
                    the famous Angolan professor Petch&uacute;.
                    In the group they developed their experiences in traditional African dances (kuduro, funana, tribal,
                    semba) and kizomba, too.
                </p>

                <p id="paulo-lanna-p-4">
                    Paulo participated on the International Kizomba Championship last year, and won the 3rd place!
                </p>

                <ul class="custom-unordered-list" id="paulo-lanna-p-5">They were invited to such big festivals as:
                    <li>Africadancar</li>
                    <li>Sensual Dance Madrid</li>
                    <li>Criola Beach Festival</li>
                    <li>LIKE festival</li>
                    <li>KETA festival</li>
                    <li>Yes! Kizomba &amp; Afro</li>
                    <li>Angolamente Sensual</li>
                    &amp; so on&hellip;
                </ul>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"