include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/prices.css"/>
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    include "mainmenu.html"
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <span id="prices-breadcrumb">Prices</span>
        </p>

        <h2 id="prices-section-header">Prices</h2>

        <div class="prices-section">
            <table cellpadding="4" cellspacing="0" border="0">
                <tr class="head">
                    <th id="all-prices-in-euro">All prices in Euro</th>
                    <td id="price-full-pass">Full pass</td>
                    <td id="price-saturday-pass">Saturday pass</td>
                    <td id="price-sunday-pass">Sunday pass</td>
                    <td id="price-party-pass">Party pass</td>
                    <td id="price-friday-party">Friday party</td>
                    <td id="price-saturday-party">Saturday party</td>
                    <td id="price-sunday-party">Sunday party</td>
                    <td id="price-single-workshop">Single Workshop</td>
                </tr>
                <tr>
                    <th id="price-until-01">Until 31.01</th>
                    <td>85</td>
                    <td>80</td>
                    <td>70</td>
                    <td>55</td>
                    <td>20</td>
                    <td>25</td>
                    <td>15</td>
                    <td>20</td>
                </tr>
                <tr class="alt">
                    <th id="price-until-02">Until 28.02</th>
                    <td>95</td>
                    <td>80</td>
                    <td>70</td>
                    <td>55</td>
                    <td>20</td>
                    <td>25</td>
                    <td>15</td>
                    <td>20</td>
                </tr>
                <tr>
                    <th id="price-until-03">Until 31.03</th>
                    <td>100</td>
                    <td>80</td>
                    <td>70</td>
                    <td>55</td>
                    <td>20</td>
                    <td>25</td>
                    <td>15</td>
                    <td>20</td>
                </tr>
                <tr class="alt">
                    <th id="price-until-05">Until 28.04</th>
                    <td>110</td>
                    <td>80</td>
                    <td>70</td>
                    <td>55</td>
                    <td>20</td>
                    <td>25</td>
                    <td>15</td>
                    <td>20</td>
                </tr>
                <tr>
                    <th id="price-until-door">At the door</th>
                    <td>120</td>
                    <td>85</td>
                    <td>75</td>
                    <td>60</td>
                    <td>20</td>
                    <td>25</td>
                    <td>15</td>
                    <td>20</td>
                </tr>
            </table>

            <ul>
                <li id="price-full-pass-descr">Full pass – all workshops and parties of the festival.</li>
                <li id="price-saturday-pass-descr">Saturday pass – saturday&apos;s workshops and party.</li>
                <li id="price-sunday-pass-descr">Sunday pass – sunday&apos;s workshops and party.</li>
                <li id="price-party-pass-descr">Party pass – parties on Friday, Saturday and Sunday.</li>
            </ul>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"