include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/prices.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <span id="prices-breadcrumb">Prices</span>
        </p>

        <h2 id="prices-section-header">Prices</h2>

        <div class="prices-section">
            <div id="prices-section-image-keeper"><img src="images/prices/prices_eng.jpg"/></div>
            <div class="social-room-info">
                Social room available during Saturday and Sunday:
                <ul>
                    <li>10 &euro; for single day (Saturday OR Sunday).</li>
                    <li>15 &euro; for both days (Saturday AND Sunday).</li>
                </ul>
                Payment available at the door only
            </div>
            <ul>
                <li id="price-full-pass-descr">Full pass – all workshops and parties of the festival.</li>
                <li id="price-beginner-pass-descr">Beginner pass – only beginner level workshops and all parties of the festival.</li>
                <li id="price-party-pass-descr">Party pass – parties on Friday, Saturday and Sunday.</li>
                <li id="price-friday-party-descr">Friday party – Fridays&apos;s party.</li>
                <li id="price-saturday-party-descr">Saturday party – Saturday&apos;s party.</li>
                <li id="price-sunday-party-descr">Sunday party – Sunday&apos;s party.</li>
                <li id="price-workshop-descr">Workshop – any single workshop separately.</li>
            </ul>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"