include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/program.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <span id="program-breadcrumb">Program</span></p>

        <h2 id="program-header">Program</h2>

        <div class="program-section">
            <object data="program.pdf?v=1#view=Fit" type="application/pdf" width="600" height="825">
                <p>You don&apos;t have embed PDF viewer installed. Please download file to watch it: <a href="program.pdf?v=1" target="_blank">program.pdf</a> </p>
            </object>
            <p id="program-download-link"><a href="/program.pdf?v=1" target="_blank">Printable version of Program you can download here.</a></p>
            <p id="program-changes-declaimer">The organizers keep the right to make changes of the program.</p>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"