include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    include "mainmenu.html"
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / DJ Raimo</p>

        <h2>DJ Raimo</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/raimo.jpg" title="DJ Raimo" alt="DJ Raimo" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="raimo-p-1">
                    Dj Raimo is well-thought-of for his sensual music set performances. He perceives the feeling on the dance floor and uses it to improve atmosphere.Dj Raimo likes good music – no
                    matter if it's classic, jazz, salsa or hard rock. Love for music grew stronger when more than 9 years ago he started dancing salsa. Goaded into action from colleagues he started
                    teaching salsa. Later he explored kizomba dance world and went to Portugal, where he got to know this sensual music rhythm and dance closer. And another soft spot was placed in his
                    heart. As a dj he started to play salsa and kizomba in dance parties he was organizing in Riga. Now friday night 2 ROOMS PARTY is one of the favourite parties for the dancers in
                    Riga. Except playing in parties he organizes himself, he also plays in different salsa, bachata, kizomba dance events and festivals in Riga and other places.
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"