include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/registration.css"/>
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <script type="text/javascript" src="scripts/registration.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    include "mainmenu.html"
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <span id="registration-breadcrumb">Registration</span></p>

        <h2 id="registration-section-header">Registration</h2>

        <div class="registration-section">
            <form action="https://docs.google.com/forms/d/1EV7UxcMJgTGxdiX7wl5zLiIfo4EnuqCibq0fynobKMI/formResponse?embedded=true" target="_blank" method="post">
                <ol>
                    <li>
                        <label for="entry_1987303274" id="registration-name" class="mandatory">Name</label><input name="entry.1987303274" id="entry_1987303274" type="text"/>
                    </li>
                    <li>
                        <label for="entry_50388262" id="registration-surname" class="mandatory">Surname</label><input name="entry.50388262" id="entry_50388262" type="text"/>
                    </li>
                    <li>
                        <label for="entry_244204092" id="registration-email" class="mandatory">E-mail</label><input name="entry.244204092" id="entry_244204092" type="text"/>
                    </li>
                    <li>
                        <label for="entry_2019948260" id="registration-phone">Phone</label><input name="entry.2019948260" id="entry_2019948260" type="text"/>
                    </li>
                    <li>
                        <label for="entry_627394187" id="registration-gender">Gender</label><select name="entry.627394187" id="entry_627394187">
                            <option value="Male" id="registration-gender-male">Male</option>
                            <option value="Female" id="registration-gender-female">Female</option>
                        </select>
                        <label for="entry_1184411726" id="registration-country" class="right">Country</label><select name="entry.1184411726" id="entry_1184411726">
                            <option value="Austria">Austria</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Belarus">Belarus</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Cyprus">Cyprus</option>
                            <option value="Czech Republic">Czech Republic</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Estonia">Estonia</option>
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                            <option value="Greece">Greece</option>
                            <option value="Hungary">Hungary</option>
                            <option value="Ireland">Ireland</option>
                            <option value="Italy">Italy</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Lithuania">Lithuania</option>
                            <option value="Luxembourg">Luxembourg</option>
                            <option value="Malta">Malta</option>
                            <option value="Netherlands">Netherlands</option>
                            <option value="Poland">Poland</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Romania">Romania</option>
                            <option value="Russia">Russia</option>
                            <option value="Slovakia">Slovakia</option>
                            <option value="Slovenia">Slovenia</option>
                            <option value="Spain">Spain</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="Other">Other</option>
                        </select>
                    </li>
                    <li>
                        <label for="entry_244204092" id="registration-address">Address</label><input name="entry.1729249845" id="entry_1729249845" type="text"/>
                    </li>
                    <li>
                        <label for="entry_2042503042" id="registration-level" class="mandatory">Level</label><select name="entry.2042503042" id="entry_2042503042">
                            <option value="Beginner" id="registration-level-beginner">Beginner</option>
                            <option value="Intermidiate" id="registration-level-intermediate">Intermediate</option>
                            <option value="Advanced" id="registration-level-advanced">Advanced</option>
                        </select>
                        <label for="entry_1818835772" id="registration-pass" class="mandatory right">Pass</label><select name="entry.1818835772" id="entry_1818835772">
                            <option value="Full" id="registration-pass-full">Full</option>
                            <option value="Friday" id="registration-pass-friday">Friday</option>
                            <option value="Saturday" id="registration-pass-saturday">Saturday</option>
                            <option value="Sunday" id="registration-pass-sunday">Sunday</option>
                            <option value="Party" id="registration-pass-party">Party</option>
                        </select>
                    </li>

                    <li>
                        <label for="entry_539291886" id="registration-notes">Notes</label><textarea name="entry.539291886" id="entry_539291886" rows="7" cols="30"></textarea>
                    </li>
                </ol>
                <div class="clarifications">
                    <span class="mandatory"><img src="images/emptypx.png" alt="" title="" width="15"/></span> <span id="registration-mandatory-fields">Mandatory Fields</span>
                    <span class="optional"><img src="images/emptypx.png" alt="" title="" width="15"/></span> <span id="registration-optional-fields">Optional Fields</span>
                </div>
                <div class="submitbutton">
                    <input type="submit" id="registration-submit-button" value="Submit"/>
                </div>
            </form>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"