include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Riccardo Recenati</p>

        <h2>Riccardo Recenati (Italy)</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/riccardo.jpg" title="Riccardo Recenati" alt="Riccardo Recenati" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="riccardo-p-1">
                    Originally from Italy and actually living in Poland, is the leader of the international team
                    &quot;Universo Salsero Dance Company&quot; that he founded in 2006. Musician and sportman since the childhood
                    he began his dance formation at the time when he was studying at University, learning all main salsa
                    styles, bachata and other caribbean dances and extending later his interest also to completely
                    different fields like street dances and jazz.
                </p>

                <p id="riccardo-p-2">
                    In 2004 he started to teach salsa (L.A., New York, Puerto Rico and Cuban style), bachata and other
                    related dances in Italy and in Poland and he already had some experience teaching and performing on
                    international stages since 2005. In the period from 2005 and 2009 he participated and won several
                    competions and he finally moved to Wroclaw, in Poland, where he opened his dance school &quot;Fly Dance
                    Academy&quot; and where he organizes some international dance events.
                </p>

                <p id="riccardo-p-3">
                    First official bachata teacher in Poland (he started to teach this style in this country already in
                    2004) he is a popular multi-style artist and instructor in salsa and bachata festivals around
                    Europe. His hot italian charisma, amazing technique, creativity and passion for almost all kinds of
                    dances make his choreographies original and very different each other.
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"