include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Rohan Brown</p>

        <h2>Rohan Brown</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/rohan.jpg" title="Rohan Brown" alt="Rohan Brown" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="rohan-p-1">
                    Very well known and established instructor from Birmingham, England.
                    His pre salsa career took him around the world in careers such as: pro
                    basket ball, semi pro athletics, cat walk model, university graduate and
                    international development officer with the United nations. Rohans first
                    encounter with salsa was whilst stationed in Puerto Rico. Since then has
                    pursued his career to the highest level and taught, DJ, compared and
                    promoted him self around the world. He could be easily described as one
                    of the hardest working men in salsa and one of the best all rounders on
                    the international Scene.
                </p>

                <p id="rohan-p-2">
                    His jazz background helps him to focus his teaching on the basic principles
                    of fluid body movement and personal development and having lots of
                    fun. He is certainly the total package.
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"