include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / DJ Saul</p>

        <h2>DJ Saul</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/saul.jpg" title="DJ Saul" alt="DJ Saul" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="saul-p-1">
                    DJ Saul is a master from Munich. He lives in Germany and travels all over
                    Europe. Saul dances since childhood, he tried everything – salsa, bachata,
                    kizomba&hellip; And in 2009 he started to play at European congresses. He
                    played kizomba and bachata in Munich, Poland, Hamburg, Marrakech and
                    many other places. A huge party-man, he&apos;s dancing or playing till the
                    dawn.
                </p>


            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"