include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    include "mainmenu.html"
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Slawek &amp; Milena</p>

        <h2>Slawek &amp; Milena</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/slawek-milena.jpg" title="Slawek &amp; Milena" alt="Slawek &amp; Milena" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="slawek-milena-p-1">
                    It&apos;s the second time that we&apos;ve welcome to Riga one of best pairs of dancers and instructors of Kizomba and Bachata in Poland. Due to their craft and the quality of their
                    lessons and shows, they have been invited to give workshops and do shows at major international festivals (Warsaw Salsa Festival, Warsaw Kizomba Festival, Angolan Festival in
                    Krakow, Wroclaw Salsa Festival, Latino Festival, Fire Festival in Minsk, On The Wave Bachata and Kizomba Festival in Riga, Toma Toma Festival in Bratislava, Bachaturo in Warsaw and
                    many others).
                </p>

                <p id="slawek-milena-p-2">
                    Sławek and Milena have been dancing together for over 2 years, and the rhythms of kizomba and bachata are like their heartbeats – they keep them company from the moment they wake
                    up, through their car rides, until the time they say goodnight. As soon as their bodies hold against each other, the outside world ceases to exist and they can feel this lovely
                    tension coming from their smooth movements. Gentle touch, being aware of the other person and this soothing closeness are the most pleasurable sensations they get from dancing and
                    share these with their students. Their extensive experience has enabled them to develop a unique way of teaching, in which they pay attention to the basics and teach to feel free
                    to express yourself in the dance, focusing on having fun.
                </p>


            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"