include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Mister Tecas &amp; Miss Jo</p>

        <h2>Mister Tecas &amp; Miss Jo</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/tecas-jo.jpg" title="Mister Tecas &amp; Miss Jo" alt="Mister Tecas &amp; Miss Jo" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="tecas-jo-p-1">
                    Mister Tecas &amp; Miss Jo&hellip; the duo that has introduced Semba in France!
                    Based in Paris, Mister Tecas is the founder of the first school of traditional
                    Angolan dances in France, called &quot;kizomba.fr&quot;. It is known for having the
                    first set of regular courses of kizomba in Paris!
                </p>

                <p id="tecas-jo-p-2">
                    In addition, Mister Tecas has been the instructor of many professors of
                    Kizomba and Semba in France, as well as judging in many national and
                    international competitions of Kizomba and Semba. In 2012, he was called
                    to Angola: &quot;the cradle of the Kizomba and the Semba&quot; to choreograph at
                    &quot;Bounce Angola&quot;, the largest dance competition of the country.
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"