include "doctype.html"
<head>
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    include "mainmenu.html"
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Tomas Keita</p>

        <h2>Tomas Keita</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/tomas-keita.jpg" title="Tomas Keita" alt="Tomas Keita" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="tomas-keita-p-1">
                    Teacher and dancer of African rhythms, one of the pioneers of Kizomba in Europe and participant in several international festivals around the world.
                </p>

                <p id="tomas-keita-p-2">
                    He has over 15 years of experience as a dancer and teacher. Born in Guinea-Bissau, where from a young age was a member of Guinea National Theatre group and in the group of Patria
                    Amada Theatre.
                </p>

                <p id="tomas-keita-p-3">
                    In Portugal he has been working in various dance schools: Proyecto Latino, Ateneu, Espaço Latino (currently EDSAE) Danças Circle, Beleza Disco, Disco Sarabanda, Havana Docks.
                    Participated in numerous TV programs (VIDA É BELA-TVI, RTP1, Porto Canal TV).
                </p>

                <p id="tomas-keita-p-4">
                    Currently he is located in Spain, Barcelona. Tomas is Kizomba instructor of reference in Spain and works in several schools: NEW DANCE CENTER BY ADRIAN Y ANITA, BARRIO LATINO
                    MASNOU, ESCUELA RAICES GRANOLLER, DISCO SALSACEL Badalona and Festivals all around the world, SensualDance Madrid, Salsea Madrid, AfricaDançar Lisboa, Like Festival Lisboa,
                    Swimming Festival Paris, Afro Fever Lisboa, Afrobailar Praga, Balumuka Praga, Festival Circulo Munich , Festival Gala Hamburg, Afrolatino Sevilha, Afrolatino Pamplona, Tá Fixe
                    Porto, Simpósio de Coimbra and many others. Participated in radio and TV programs (radio Cero, radio Cataluña, TV canal latino).
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"