include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/venue.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    include "mainmenu.html"
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <span id="venue-breadcrumb">Venue</span>
        </p>

        <h2 id="venue-section-header">Venue</h2>

        <div class="venue-section">
            <div class="images-keeper">
                <img src="images/venue-big.png" alt="" title="" width="462" height="222"/>
                <img class="second-image" src="images/venue-small-one.png" alt="" title="" width="144" height="108"/>
                <img class="second-image top-padded" src="images/venue-small-two.png" alt="" title="" width="144" height="108"/>
            </div>
            <div class="venue-description">
                <div class="turiba-logo-keeper">
                    <img src="images/turiba-logo.png" alt="" title="" width="149" height="79"/>
                </div>
                <div class="venue-description-keeper">
                    <h2 id="venue-main-venue">Main Venue</h2>
                    <p id="venue-main-venue-address">
                        <strong>University &quot;Turiba&quot;</strong>, 68 Graudu Str., Riga <a href="http://www.turiba.lv/en/" target="_blank">http://www.turiba.lv/en/</a>
                    </p>

                    <h2 id="venue-accommodation">Accomodation</h2>
                    <p id="venue-accommodation-contact">
                        To book accommodation contact the organizers on: info@bachatakizomba.com or on Facebook:<br/>
                        <a href="http://www.facebook.com/nataly.hristolubova">Nataly Hristolubova</a>, Irina Jakobovica
                    </p>
                    <ol>
                        <li><span id="venue-accommodation-1-title"><strong>University &quot;Turība&quot;</strong> Hostel (68 Graudu Str., Riga)</span>
                            <p id="venue-accommodation-1-description">Room for 3-4 people 13,-EUR/ per person/per night, no breakfast, WC and shower room in the corridor, kitchen available.</p>
                            <div class="venue-images">
                                <img src="images/accommodations/1-1.png"/>
                                <img src="images/accommodations/1-2.png"/>
                                <img src="images/accommodations/1-3.png"/>
                            </div>
                        </li>
                        <li><span id="venue-accommodation-2-title"><strong>Hotel Vilmajas</strong> (12 Ilmajas Str. , Riga)</span>
                            <p id="venue-accommodation-2-description">Distance from the venue 1,9 km (taxi will be available for a fixed price to/from the venue).<br/>
                                Double room 40,- EUR/1 night, incl. breakfast<br/>
                                Twin room 40,- EUR/1 night, incl. breakfast.</p>
                            <div class="venue-images">
                                <img src="images/accommodations/2-1.png"/>
                                <img src="images/accommodations/2-2.png"/>
                                <img src="images/accommodations/2-3.png"/>
                            </div>
                        </li>
                        <li><span id="venue-accommodation-3-title"><strong>Best Hotel</strong> (9/11 Gimnastikas Str., Riga)</span>
                            <p id="venue-accommodation-3-description">Distance from the venue 1 km. Double room 75,- EUR /1 night, incl. breakfast Triple room 95,- EUR/ 1 night, incl. Breakfast.</p>
                            <div class="venue-images">
                                <img src="images/accommodations/3-1.png"/>
                                <img src="images/accommodations/3-2.png"/>
                                <img src="images/accommodations/3-3.png"/>
                            </div>
                        </li>
                        <li><span id="venue-accommodation-4-title"><strong>Kolonna Hotel Brigita</strong> (Saulkalnes Str. 11, Riga)</span>
                            <p id="venue-accommodation-4-description">Distance from the venue 1,5 km (taxi will be available for a fixed price to/from the venue).<br/>
                                BOOKING ONLY AVAILABLE FROM MAY 3-5<br/>
                                Double room 45,- EUR/1 night, incl. breakfast<br/>
                                Single 40,- EUR/1 night, incl. breakfast.</p>
                            <div class="venue-images">
                                <img src="images/accommodations/4-1.png"/>
                                <img src="images/accommodations/4-2.png"/>
                                <img src="images/accommodations/4-3.png"/>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="clearer">&nbsp;</div>
            </div>

        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"