include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    include "mainmenu.html"
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Vishal Raja</p>

        <h2>Vishal Raja</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/vishal_raja.jpg" title="Vishal Raja" alt="Vishal Raja" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="vishal_raja-p-1">
                    Vishal Raja is a traveler and an adventure sports freak with a full time passion for Bachata. He has trained in Bachata with various inspiring instructors in India and Europe.
                    Vishal and his partner Shalini Sen have recently started &apos;Baila Loca&apos; – their own dance studio in New Delhi, India, that focuses exclusively on Bachata, and is a first of its kind
                    in the country. Learn more about them at <a href="http://www.facebook.com/BailaLoca">www.facebook.com/BailaLoca</a> What drew Vishal and Shalini to dancing Bachata was the sheer freedom of the dance – the &apos;unstructured&apos;
                    structure, the playfulness and variety of music from all parts of the world and the many, many interpretations of the basic movements to make something new and beautiful every time
                    they dance.
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"