include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    <div class="left-column">
        include "lang-switch.html"
        include "mainmenu.html"
    </div>
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Vitor &amp; Valeriya</p>

        <h2>Vitor &amp; Valeriya</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/vitor-valeriya.jpg" title="Vitor &amp; Valeriya" alt="Vitor &amp; Valeriya" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="vitor-valeriya-p-1">
                    <strong>Vitor Mendes</strong> (Cape Verde/Portugal)<br/>
                    Kizomba Prague founder, instructor, multi-talented dancer, choreographer
                    and entertainer with international recognition. His dance styles are
                    Kuduro-Decale, Kizomba, Afro-Contemporary, Capoeira, Abstract dance,
                    Street dance, Hip Hop, Afro-Street Dance.
                </p>

                <p id="vitor-valeriya-p-2">
                    He also has the ability to fuse different dance styles and combine them
                    into one as he call it - Dance Fusion. Example of his success is Patti Boulaye&apos;s
                    Sun Dance, dance musical in London or participation at Český Lev
                    film awards.
                </p>
                <p id="vitor-valeriya-p-3">
                    Vitor has joined a Bollywood Dance performance - Shiva&apos;s Wheel of Life at
                    ABC Theatre - Live Musical and Prague Adaptation of Arthur Schnitzler's
                    &quot;La Ronde&quot; at Malé Vinohradské Theatre. You could read big interviews
                    with him in newspapers MF Dnes and also in magazine Lidé a Země.
                    Currently he promotes Luso-Afro-Latino culture and organizes Multicultural
                    Music &amp; Dance Festival Afro-Bailar in Prague, Czech Republic. You
                    can also join his other workshops and classes of Abstract Dance and
                    Afro-Fitness. Vitor also offers private classes and service of personal
                    trainer. Vitor has official Fitness Instructor Certificate.
                </p>
                <p id="vitor-valeriya-p-4" class="top-padded">
                    <strong>Valeriya Romanova</strong> (Ukraine)<br/>
                    Valeriya is from Ukraine but she lives in Prague for several years. She is a
                    talented dancer and has experience with different types of dance such as
                    salsa, bachata, zouk, reggaeton, tango, merengue, but her biggest passion
                    became Kizomba.
                </p>
                <p id="vitor-valeriya-p-5">
                    Valeriya took six months intense training with Vitor, in which they went
                    through not only the dance steps and variations, but primarily musicality,
                    body expression and styling.
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"