include "doctype.html"
<head>
    include "metatags.html"
    <title id="page-title">
        include "title.html"
    </title>
    <link rel="stylesheet" href="css/artist-details.css"/>
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/commons.js"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="content">
    include "banner.html"
    include "mainmenu.html"
    <div class="center-content">
        <p class="bread-crumbs"><a id="home-breadcrumbs-link" href="index.html">Home</a> / <a id="artists-breadcrumb" href="artists.html">Artists</a> / Yasser &amp; Solia</p>

        <h2>Yasser &amp; Solia</h2>

        <div class="artist-details-section">
            <div class="artist-picture">
                <img src="images/artists/yasser-solia.jpg" title="Yasser &amp; Solia" alt="Yasser &amp; Solia" width="145" height="145"/>
            </div>
            <div class="artist-description">
                <p id="yasser-solia-p-1">
                    Yasser Sarria Terry graduated as instructor and professional dancer in 1993 (Escuela Profesional de Arte, EPA Santa Clara) and in addition took a degree in folkloric and popular
                    dances in 1997 (Instituto Superios de Arte, ISA Havana). Yasser has danced in Cuba in many show groups and won prices also in international competitions.
                </p>

                <p id="yasser-solia-p-2">
                    After coming to Finland in 2003 he has taught as well as performed in Finland and all over Europe in different festivals for instance Cubamemucho (Stokholm &amp; Munich), 1st
                    Scandinavian Salsa Congress of Albert Torres (Gothenburg), Hot Salsa Weekend (Stockholm), Baila Baila Salsa Festival (Helsinki).
                </p>

                <p id="yasser-solia-p-3">
                    Yasser is energetic and funny teacher and performer who knows how to entertain the public. In his style unite the strength of afrocuban dances and the vivid feeling of popular and
                    street dances.
                </p>

                <p id="yasser-solia-p-4">
                    Yasser fell in love with bachata dance already in Cuba where he was taught by the Dominican exchange students and after coming to Finland in 2004 he was the first to teach bachata
                    in Helsinki. Later on he has travelled around Europe participating in various international salsa festivals where he has also teach bachata and had a lot of positive feedback.
                    Yasser combines in his bachata different elements from other dances such as kizomba, merengue, reggaeton etc. In addition he choreographed together with his partner Soila Sarria
                    bachata show in for Latvian dance group Nianse and they won first prize in a local competition.
                </p>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
    include "footer.html"
</div>
</body>
include "doctypeclose.html"